# =====================================================
# WEBSERVER CONFIGURATION
# -----------------------------------------------------

WEBSERVER_DOC_ROOT=/var/www/html
NGINX_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
DIRECTORY_PATH=directory_path

# -----------------------------------------------------
# SSL/TLS CONFIGURATION
# -----------------------------------------------------

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt

# -----------------------------------------------------
# DATABASE CONFIGURATION
# USE POSTGRESQL
# -----------------------------------------------------

POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_DATA_PATH=/var/lib/postgresql/data
POSTGRES_PORT=5432

# -----------------------------------------------------
# DATA CACHE
# USE DRAGONFLY REDIS
# -----------------------------------------------------

DRAGONFLYDB_CONF_PREFIX=/usr/local/etc

# -----------------------------------------------------
# ENDPOINT / PROXY CACHE
# USE VARNISH
# -----------------------------------------------------

VARNISH_VERSION=varnish_version
VARNISH_CONF_PREFIX=/etc/varnish
VARNISH_SIZE=2G

# =====================================================